<!DOCTYPE html>
<html lang="en">
<h1> Add Workout </h1>
<form action="/addWorkoutPlan" method="POST">
   Workout ID <input type="text" name="workoutID">
   Day <select name="day" id="day">
    <option value="0">Sunday</option>
    <option value="1">Monday</option>
    <option value="2">Tuesday</option>
    <option value="3">Wednesday</option>
    <option value="4">Thursday</option>
    <option value="5">Friday</option>
    <option value="6">Saturday</option>
  </select>
   <button type="submit"> Submit </button>
</form>
</html>