<!DOCTYPE html>
<head>
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<html lang="en">
  <h1>Program Information</h1>
  <div id="nameOfProgram"></div>
  <a href="/add-workout-program">Add Workout Plan</a>
  <a href="/edit-profile">Edit Profile</a>
  <button onclick="func()">Click</button>
  <div id="workout-programs">

  </div>
  <script src="js/dashboard.js"></script>

</html>

