<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Workout Program</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <h1>Add Workout</h1>
  <form>
    Program Name <input id="program-name-input" type="text" />
    Public <input id="ispublic-input" type="checkbox" />
    <button id="submit-program">Submit</button>
  </form>

  <script src="js/add-workout-program.js"></script>
</html>
