<!DOCTYPE html>
<head>
  <title>Edit Profile</title>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
</head>
<html lang="en">
  <h1>Edit Profile</h1>
  <form>
    New Username <input id="username-input" type="text" name="username" /> New
    password <input id="password-input" type="text" name="password" />
    Age
    <input id="age-input" type="number" min="0" name="age" />
    Gender
    <select id="gender-input" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    Height
    <input id="height-input" type="number" min="0" name="height" /> Weight
    <input id="weight-input" type="number" min="0" name="weight" /> Goal Weight
    <input id="goal-weight-input" type="number" min="0" name="goalWeight" />
    <button id="submit-profile">Submit</button>
  </form>

  <script src="js/edit-profile.js"></script>
</html>
