<!DOCTYPE html>
<html lang="en">
  <h1>Login</h1>
  <form action="/auth/local" method="POST">
    EMAIL <input type="text" name="email" /> PASSWORD
    <input type="password" name="password" />
    <button type="submit">Submit</button>
  </form>

  <h1>Register</h1>
  <form action="/user" method="POST">
    USERNAME <input type="text" name="username" /> EMAIL
    <input type="text" name="email" /> PASSWORD
    <input type="password" name="password" />
    <button type="submit">Submit</button>
  </form>

  <a href="/auth/google">Login with Google</a>
</html>
